/* Colours */
$Black: #000;
$White: #FFFFFC;
$Brown: #272727;
$Red: #DB2929;


/* Colour Config */
$Background-Colour: $White;
$Highlight-Colour: $White;
$Text-Colour: $Brown;
$Danger-Colour: $Red;

/* Fonts */
$Poppin: 'Poppins', sans-serif;

/* Font Config */
$Font-Family: $Poppin;

/* Layout */
$Header-Height: 90px;
$Footer-Height: 50px;
$Frame-Width: 1140px;
$Mobile-Width: 767px;
