/* Colours */
$Black: #000;
$White: #FFFFFC;
$Tan: #D4AA7D;
$Brown: #272727;
$Blue: #90A9B7;
$Red: #DB2929;
$Green: #D2D8B3;


/* Colour Config */
$Background-Colour: $Tan;
$Theme-Colour: $Blue;
$Highlight-Colour: $White;
$Text-Colour: $Brown;
$Danger-Colour: $Red;

/* Fonts */
$Poppin: 'Poppins', sans-serif;

/* Font Config */
$Font-Family: $Poppin;

/* Layout */
$Header-Height: 90px;
$Footer-Height: 50px;
$Frame-Width: 1140px;
$Mobile-Width: 767px;
